.search-results {
  display: flex;

  p {
    font-size: 24px;
  }

  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
  }
}

.loading {
  text-align: center;
}
