.search-results {
  display: flex;

  p {
    font-size: 24px;
    .query {
      font-style: italic;
      color: #f16b4e;
    }
  }

  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
  }
}

.loading {
  text-align: center;
}

.card {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  padding: 32px;
  border-radius: 8px;
  margin-top: 32px;
}
