<li
  *ngIf="city"
  class="weather-card"
  [ngClass]="{ 'is-selected': selected === city?.id }"
  (click)="selectCity(city.id)"
  tabindex="0"
>
  <div class="header">
    <div class="title">{{ city.name }}, {{ city.sys.country }}</div>
    <div class="time">Updated {{ getTimeString(city.dt) }}</div>
  </div>
  <div class="weather" *ngIf="city.weather.length">
    <img
      src="https://openweathermap.org/img/wn/{{ city.weather[0].icon }}@2x.png"
      width="100"
      height="100"
    />
    <div class="weather-description">
      {{ city.weather[0].description }}
    </div>
  </div>
  <div class="footer">
    <div class="details">
      <div class="details-item">
        <mat-icon aria-hidden="false" aria-label="Wind speed">air</mat-icon>
        &nbsp;{{ city.wind.speed }}
      </div>
      <div class="details-item">
        <mat-icon aria-hidden="false" aria-label="Humidity">water</mat-icon>
        &nbsp;{{ city.main.humidity }}
      </div>
      <div class="details-item">
        <mat-icon aria-hidden="false" aria-label="Pressure">storm</mat-icon>
        &nbsp;{{ city.main.pressure }}
      </div>
    </div>
    <h1 class="temp">{{ city.main.temp | number: "1.0-0" }}&deg;</h1>
  </div>
</li>
