@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.weather-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 300px;
  padding: 32px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  animation-name: fadeIn;
  animation-duration: 500ms;
  transition: all 200ms ease-in-out;
  margin: 48px 8px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      background-color: #212121;
      padding: 4px 8px;
      border-radius: 8px;
      border: 1px solid #4c4c4c;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 120px;
    }

    .time {
      color: #949494;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;

    .weather-description {
      text-transform: capitalize;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .details-item {
      display: flex;
      align-items: center;

      .mat-icon {
        color: #949494;
      }
    }

    h1 {
      font-size: 56px;
      margin: 0px;
      color: #ffffff;
    }
  }

  &.is-selected {
    transform: scale(1.05);
  }
}
