.weather-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 350px;
  padding: 32px;
  border-radius: 8px;
  background-color: #282627;
  background-image: linear-gradient(60deg, #040404 0%, #282627 90%);
  transition: all 200ms ease-in-out;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      background-color: #212121;
      padding: 4px 8px;
      border-radius: 8px;
      border: 1px solid #4c4c4c;
    }

    .time {
      color: #949494;
    }
  }

  .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px;

    .weather-description {
      text-transform: capitalize;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .details-item {
      display: flex;
      align-items: center;

      .mat-icon {
        color: #949494;
      }
    }

    h1 {
      font-size: 48px;
      margin: 0px;
      color: #ffffff;
    }
  }

  &.is-selected {
    transform: scale(1.05);
    box-shadow: #04040450 0px 8px 24px 0px, #4c4c4c 0px 0px 0px 1px;
  }
}
