.search {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }

  .search-input-wrapper {
    min-height: 80px;
  }

  .search-input-errors {
    margin: 8px 0px;
    color: #f16b4e;
  }

  .search-input {
    position: relative;

    .mat-icon {
      position: absolute;
      top: 8px;
      left: 16px;
      color: #949494;
    }

    input {
      color: #f7f7f7;
      background-color: #040404;
      padding: 8px 8px 8px 48px;
      border: 1px solid #4c4c4c;
      border-radius: 8px;
      font-size: 1.2rem;

      &:active,
      &:focus {
        outline: 0;
        box-shadow: #04040450 0px 8px 24px 0px, #4c4c4c 0px 0px 0px 1px;
      }
    }
  }

  .uom-selector-wrapper {
    display: flex;
    align-self: flex-start;
    margin-left: 16px;
    margin-bottom: 16px;

    .uom-selector {
      display: flex;
      justify-content: center;
      align-items: center;

      label {
        margin: 0px 8px;
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 72px;
      height: 40px;

      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
          background-color: #ed6e4d;
        }

        &:checked + .slider:before {
          -webkit-transform: translateX(32px);
          -ms-transform: translateX(32px);
          transform: translateX(32px);
        }

        &:focus + .slider {
          box-shadow: 0 0 1px #ed6e4d;
        }
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #4c4c4c;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 40px;

        &:before {
          position: absolute;
          content: "";
          height: 32px;
          width: 32px;
          left: 4px;
          bottom: 4px;
          background-color: #f7f7f7;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 50%;
        }
      }
    }
  }
}
