<div>
  <span id="title">Weather App</span>
  <form (ngSubmit)="search(searchForm)" #searchForm="ngForm">
    <div class="form-field">
      <input
        placeholder="Search Location"
        [(ngModel)]="query"
        #q="ngModel"
        name="q"
        required
        type="text"
        autocomplete="off"
        minlength="3"
      />
      <div *ngIf="q.invalid && (q.dirty || q.touched)">
        <span *ngIf="q.errors?.required">Location is required.</span>
        <span *ngIf="q.errors?.minlength"
          >Please enter at least 3 characters.</span
        >
      </div>
    </div>
    <button type="submit">Search</button>
  </form>
</div>
